.nav-bar {
    background-color: #dcefff;
    background-size: cover;
    display: inline-flex;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: navy;
}

nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    padding: 10px 15px;
    color: #606a6d;
}